/*===== GOOGLE FONTS =====*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');

/*===== Fuente y tipografia =====*/

:root {
  --bg-color: linear-gradient(266.250540968281deg, rgba(2, 125, 180, 1) 23%, rgba(149, 242, 4, 1) 73%);
}

* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}
html {
  overflow-x: hidden !important;
  overflow-y: hidden !important;
}
.login {
  width: 100%;
  height: 100vh;
  background: linear-gradient(115.860254666246deg, rgba(255, 255, 255, 1) -5%, rgba(2, 167, 240, 1) 2%, rgba(149, 242, 4, 1) 100%) !important;
}

.img-login {
  justify-self: center;
  width: 200px;
  position: absolute;
  top: -10px;
  left: 150px;
}
.bg-form {
  width: 500px;
  height: 350px;
  background: rgba(242, 242, 242, 1);
  border-radius: 20px;
  position: relative;
  top: 90px;
  right: 50px;
  padding: 50px;
}

.input-email,
.input-password {
  margin: auto;
  width: 360px;
}

.input-email input {
  margin-top: 60px;
  border-radius: 30px;
}
.input-password input {
  border-radius: 30px;
}
.btn-login {
  width: 100px;
  margin: 30px 0 15px 150px;
  display: flex;
  border-radius: 20px;
  justify-content: center;
}
.btn-forget {
  margin-left: 125px;
}

/* Home Page */
.section-home {
  width: 100%;
  height: 100vh;
  background: var(--bg-color);
}

.logo-bpjs {
  width: 220px;
}
.title-score {
  margin-left: 100px;
  font-size: 22px;
}
.img-profiel {
  width: 88px;
  height: 88px;
  border-radius: 50%;
}
.profiel {
  margin-left: 10px;
  align-self: center;
}
.posisi {
  margin-top: 35px;
  font-size: 15px;
}
.posisi p {
  width: 250px;
}
.posisi p span {
  color: rgba(2, 125, 180, 1);
}

/* navbar */

.navbar {
  position: absolute;
  top: 145px;
  left: 265px;
  z-index: 1000;
  width: 69rem;
  background-color: rgba(2, 125, 180, 1) !important ;
}
.nav-item {
  margin-left: 150px;
}
.nav-link {
  color: #fff;
}
.nav-link:hover {
  color: #ffff00;
}
.nav-link:focus {
  color: #ffff00;
}
.dropdown-item {
  color: #000;
}
.dropdown-menu {
  border-radius: 0 0 20px 20px;
  background-color: rgba(2, 125, 180, 1) !important ;
  border: none;
}

/* content home page */
.content {
  position: absolute;
  top: 185px;
  left: 265px;
  background: #fff;
  width: 69rem;
  height: 28.5rem;
}
.table {
  border-collapse: collapse;
}
.tableFixHead {
  overflow: auto;
  width: 67.5rem;
  height: 350px;
}
.tableFixHead thead th {
  position: sticky;
  top: 0;
  z-index: 1;
}
th,
td {
  padding: 8px 16px;
}

th {
  background: #eee !important;
}

.table thead tr th {
  padding-right: 45px;
}
.table tbody tr td {
  font-size: 13px;
  /* padding-right: 45px; */
}
.table-wrapper {
  max-height: 100px;
  overflow: auto;
  display: inline-block;
}
.btn-kpi-content {
  width: 8rem;
}
.btn-kpi-content a {
  margin-left: 15px;
}

/* form penambahan KPI */
.head-form-kpi {
  margin-top: 35px;
}
.text-import {
  margin-right: 10px;
}
.kpi-dropdown {
  border: none;
  color: black;
}
.kpi-dropdown a:hover {
  color: #000;
}

.input-kpi{
  height: 35px;
}